<div class="content-container">

    <mat-list class="list">
      @for(className of classes(); track className.id) {
        <mat-list-item  style="height: auto; max-width: 500px;">
          <div class="list-item class-info-container">
            <div class="class-info-large">
              <h2 class="list-item-title">{{className.name}}</h2> 
              <p class="class-extra-data">{{className.teacher}} ● Room {{className.room}}</p>
            </div>
            <div class="class-info-icons">
              <mat-icon>
                menu_book
              </mat-icon>
              <mat-icon>
                grading
              </mat-icon>
            </div>
          </div>
        </mat-list-item>
      }
    </mat-list>

    <div class="button-container">
      <button mat-button class="list-button" extended (click)="openDialog()">
        Add class
      </button>

    </div>

  </div>