<div class="content-container">
    <mat-form-field appearance="outline" class="semester-select">
      <mat-label>Select a semester</mat-label>
      <mat-select  [(ngModel)]="selectedSemester" name="semester">
      <mat-option value=-1 disabled>-- Choose a semester --</mat-option>
      <mat-option *ngFor="let sem of semesterOptions()" [value]="sem.id">
          {{ sem.dateFrom | date:'y MMM d' }} - {{ sem.dateTo | date:'y MMM d' }}
      </mat-option>

      </mat-select>
    </mat-form-field>


    <mat-list class="list">
      @for(className of filteredClasses(); track className.id) {
        <mat-list-item  style="height: auto; max-width: 500px;">
          <div class="list-item class-info-container">
            <div class="class-info-large">
              <h2 class="list-item-title">{{className.name}}</h2> 
              <p class="class-extra-data">{{className.teacher}} ● Room {{className.room}}</p>
            </div>
            <div class="class-info-icons">
              <mat-icon>
                menu_book
              </mat-icon>
              <mat-icon>
                grading
              </mat-icon>
            </div>
          </div>
        </mat-list-item>
      }
    </mat-list>

    <div class="button-container">
      <button mat-button class="list-button" extended (click)="openDialog()">
        Add class
      </button>

    </div>

  </div>