@import "../../../custom-colors.scss";


.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    width: 100%;
}


.list-button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    border-radius: 25px;
    height: 40px;
    padding: 0 12px;
    margin-bottom: 10px;
    width: 35%;

    margin: auto;
    display: block;
    // margin-right: 5px;
    // margin-left: 36px;
}


.list {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    width: 70%;
    margin: auto;
}

.list-item {
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 1px 1px 2px grey;
}

.list-item:hover{
    background-color: var(--surface-hover-color);
}

.list-item-title {
    color: var(--text-alternate);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
.list-item-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list-item-date {
    color: var(--text-alternate);
}

.class-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.class-info-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.class-info-large {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.class-extra-data {
    color: var(--text-muted);
}

// ::ng-deep .mat-mdc-list-item-unscoped-content.mdc-list-item__primary-text {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
// }

.semester-select {
    margin: 20px;
    width: 300px;
}