<div class="dialog-container">

    <div id="dialog-header">
        <h2 mat-dialog-title id="dialog-title-left" >Add Class</h2>
        <h2 mat-dialog-title id="dialog-title-right" >{{ this.data.selectedSemester.dateFrom | date:'y MMM d' }} - {{ this.data.selectedSemester.dateTo | date:'y MMM d' }}</h2>
        <button mat-icon-button mat-dialog-close id="cancel-dialog-button">
            <mat-icon>close</mat-icon>
        </button>

    </div>
    <mat-dialog-content class="dialog-content" >
        <div class="form-container">
            <div class="field-input">
                <p class="field-label">Class</p>
                <mat-form-field appearance="outline">
                    <input matInput [(ngModel)]="className">
                </mat-form-field>
            </div>
            <div class="field-input">
                <p class="field-label">Teacher</p>
                <mat-form-field appearance="outline">
                    <input matInput [(ngModel)]="teacherName">
                </mat-form-field>
            </div>
            <div class="field-input">
                <p class="field-label">Room</p>
                <mat-form-field appearance="outline">
                    <input matInput [(ngModel)]="roomNumber">
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button class="dialog-button" mat-flat-button (click)="onNoClick()">Done</button>
    </mat-dialog-actions>


</div>

