.field-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
}

p {
    margin-right: 8px;
}

.dialog-container {
    background: var(--surface);
    
}

mat-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog-button {
    background-color: var(--button-color);
    color: var(--button-text-color);
}

.dialog-title {
    color: var(--text-alternate);
}

.field-label {
    color: var(--text-muted);
}

.form-container {
    width: 100%;
}

mat-form-field {
    width: 65%;
}

#dialog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

}

#cancel-dialog-button {
    margin: 5px;
    // position: absolute;
    // top: 0;
    // right: 0;
    flex-shrink: 0;
    margin-left: 0.5rem;
}

#dialog-title-left {
    text-align: left;
    flex: 1;

    color: var(--text-alternate);
}

#dialog-title-right {
    text-align: right;
    flex: 1;

    color: var(--text-alternate);
}