<div class="dialog-container">

    <div id="dialog-header">
        <h2 mat-dialog-title id="dialog-title-left" >Add Class</h2>
        <h2 mat-dialog-title id="dialog-title-right" >{{ this.data.selectedSemester.dateFrom | date:'y MMM d' }} - {{ this.data.selectedSemester.dateTo | date:'y MMM d' }}</h2>
        <button mat-icon-button mat-dialog-close id="cancel-dialog-button">
            <mat-icon>close</mat-icon>
        </button>

    </div>
    <mat-dialog-content class="dialog-content" >
        <form [formGroup]="classForm" (ngSubmit)="onSubmit()" class="form-container">
            <div class="field-input">
                <p class="field-label">Class Name</p>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="className">
                    <mat-error *ngIf="classForm.get('className')?.hasError('required')">Class name is required.</mat-error>
                </mat-form-field>
            </div>
            <div class="field-input">
                <p class="field-label">Instructor</p>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="teacherName">
                    <mat-error *ngIf="classForm.get('teacherName')?.hasError('required')">Instructor is required.</mat-error>
                </mat-form-field>
            </div>
            <div class="field-input">
                <p class="field-label">Room</p>
                <mat-form-field appearance="outline">
                    <input matInput formControlName="roomNumber">
                    <mat-error *ngIf="classForm.get('roomNumber')?.hasError('required')">Room number is required.</mat-error>
                </mat-form-field>
            </div>


            <div class="field-input" formGroupName="startTime">
                <p class="field-label">Start Time</p>
                <div id="time-inputs-container">
                    <mat-form-field appearance="outline" class="time-input">
                        <mat-label>HH</mat-label>
                        <input matInput formControlName="hours"/>
                        <mat-error *ngIf="classForm.get('hours')?.hasError('invalidHour')">Invalid hours.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="time-input">
                        <mat-label>MM</mat-label>
                        <input matInput formControlName="minutes" />
                        <mat-error *ngIf="classForm.get('minutes')?.hasError('invalidMinute')">Invalid minutes.</mat-error>
                    </mat-form-field>

                    <mat-form-field class="ampm-input">
                        <mat-label>AM/PM</mat-label>
                        <mat-select formControlName="dayPeriod">
                            <mat-option value="AM">AM</mat-option>
                            <mat-option value="PM">PM</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>


            <div class="field-input" formGroupName="endTime">
                <p class="field-label">End Time</p>
                <div id="time-inputs-container">
                    <mat-form-field appearance="outline" class="time-input">
                        <mat-label>HH</mat-label>
                        <input matInput formControlName="hours"/>
                        <mat-error *ngIf="classForm.get('hours')?.hasError('invalidHour')">Invalid hours.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="time-input">
                        <mat-label>MM</mat-label>
                        <input matInput  formControlName="minutes"/>
                        <mat-error *ngIf="classForm.get('minutes')?.hasError('invalidMinute')">Invalid minutes.</mat-error>
                    </mat-form-field>

                    <mat-form-field class="ampm-input">
                        <mat-label>AM/PM</mat-label>
                        <mat-select formControlName="dayPeriod">
                            <mat-option value="AM">AM</mat-option>
                            <mat-option value="PM">PM</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="field-input" formGroupName="days">
                <p class="field-label">Days</p>
                <div>
                    <mat-checkbox formControlName="monday">Monday</mat-checkbox>
                    <mat-checkbox formControlName="tuesday">Tuesday</mat-checkbox>
                    <mat-checkbox formControlName="wednesday">Wednesday</mat-checkbox>
                    <mat-checkbox formControlName="thursday">Thursday</mat-checkbox>
                    <mat-checkbox formControlName="friday">Friday</mat-checkbox>
                    <mat-checkbox formControlName="saturday">Saturday</mat-checkbox>
                    <mat-checkbox formControlName="sunday">Sunday</mat-checkbox>
                </div>
            </div>
            <mat-error *ngIf="classForm.hasError('endBeforeStart')">End time must be after start time.</mat-error>

        </form>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button class="dialog-button" mat-flat-button (click)="onSubmit()">Done</button>
    </mat-dialog-actions>


</div>

